# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\Lexer\GlassLang\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
